body {
    font-family: Helvetica, arial, sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
    max-height: 480px;
    max-width: 480px;
}

.form-group {
    height: 30px;
}

.form-group .form-label {
    float: left;
    width: 9em;
    padding-right: 1em;
    text-align: right;
}

.form-group .form-control {
    margin-left: 10em;
}

.form-group .form-control input {
    width: 100%;
}

.badge {
    height: 3em;
    line-height: 3em;
    padding: 0.5em 2em;
    border-radius: 0.2em;
    background-color: #ccc;
    cursor: pointer;
    font-size: 1em;
    color: white;
    opacity: 0.7;
}

.badge.active {
    opacity: 1;
}

.badge:hover {
    text-shadow: 0 0 1px #ccc;
}

/* ======= COLUMN ======= */
.column-1,
.column-2 {
    position: relative;
    float: left;
    display: block;
    overflow: hidden;
    width: 100%;
}

@media (min-width: 800px) {
    .column-1 {
        width: 48%;
        margin: 0 1%;
    }

    .badge {
        font-size: 1.2em;
    }
}